<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-2 col-2"></div>
    <div class="col-lg-6 col-md-6 col-sm-8 col-9">
      <h2>送信が完了しました</h2>
      <h4>内容は以下の通りです。</h4>
      <br>
      <p>[タイトル]</p><br>
      <strong><p><%= @mail_title %></p></strong>
      <br>
      <p>[本文]</p><br>
      <strong><p><%= @mail_content %></p></strong>

    </div>
    </div class="col-lg-3 col-md-3 col-sm-2 col-1">
  </div>
</div>